@import "../variable.scss";

.aboutmainsection{
    padding: 80px 0;
    background:  var(--secondary-color);
    @include media-breakpoint-down-md {
        padding: 30px 0;
        margin-bottom: 20px;
    }
    .aboutsectionmain{
        background:  var(--secondary-color);
        h1{
            font-weight: 400;
            font-size: 42px;
            text-align: center;
            color: var(--primary-color);
            letter-spacing: 0;
            text-align: center;
            margin-bottom: 30px;
            @include media-breakpoint-down-md {
                font-size: 30px;
                margin-bottom: 10px;
            }
        }
        .subtitle{
            color:  var(--primary-color);
            font-weight: 300;
            font-size: 22px;
            letter-spacing: 0;
            text-align: center;
            margin-bottom: 40px;
            @include media-breakpoint-down-md {
                font-size: 16px;
                margin-top: 15px;
            }
        }
        .aboutcontentmain{
            border: 4px solid var(--primary-color);
            padding: 40px 20px 32px 20px;
            position: relative;
            @include media-breakpoint-down-md {
                padding: 30px 15px;
            }
            .aboutname{
                color:  var(--primary-color);
                font-weight: 400;
                font-size: 32px;
                letter-spacing: 0;
                text-align: center;
                margin: 30px 0 0 0;
                @include media-breakpoint-down-md {
                    font-size: 30px;
                }
                @include media-breakpoint-down-sm {
                    font-size: 22px;
                }
            }
            .aboutimg{
                position: relative;
                display: block;
                img{
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
        }
    }
  
    .servicessectionmain{
        background:  var(--secondary-color);
        @media (max-width: 1024px) {
            margin-top: 50px;
        }
        h1{
            font-weight: 400;
            font-size: 42px;
            text-align: center;
            color: var(--primary-color);
            letter-spacing: 0;
            text-align: center;
            margin-bottom: 30px;
            @include media-breakpoint-down-md {
                font-size: 30px;
                padding-top: 30px;
                margin: 20px 0;
            }
        }
        .tab_name_list{
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            overflow: hidden;
            margin-bottom: 50px;
            @include media-breakpoint-down-md {
             padding: 0;
             margin-bottom: 20px;
            }
            .tab_name{
                a{
                    position: relative;
                    cursor: pointer;
                    &:hover{
                        text-decoration: underline;
                    }
                    span{
                        width: 65px;
                        position: absolute;
                        top: 6px;
                        right: 75px;
                        border: 0.5px solid var(--primary-color);
                        @include media-breakpoint-down-md {
                            border: none;
                        }
                    }
                }
            }
        }
        .servicescontentmain{
            border: 4px solid var(--primary-color);
            padding: 40px 20px 20px 20px;
            @include media-breakpoint-down-md {
                padding: 20px 15px;
            }
            .servicesimg{
                position: relative;
                display: block;
                overflow: hidden;
                height: 250px;
                @include media-breakpoint-down-md {
                    height: 200px;
                }
                @include media-breakpoint-down-sm {
                    height: 160px;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .content_main_block{
                padding: 10px;
                @include media-breakpoint-down-sm {
                    padding: 0px;
                }
                .service_name{
                    color:  var(--primary-color);
                    font-weight: 400;
                    font-size: 32px;
                    letter-spacing: 0;
                    text-align: center;
                    margin: 10px 0 0 0;
                    @include media-breakpoint-down-md {
                        font-size: 22px;
                    }
                }
                .subtitle{
                    color:  var(--primary-color);
                    font-weight: 300;
                    font-size: 22px;
                    letter-spacing: 0;
                    text-align: center;
                    margin-bottom: 10px;
                    @include media-breakpoint-down-md {
                        font-size: 16px;
                        margin-top: 15px;
                    }
                    @include media-breakpoint-down-sm {
                        font-size: 12px;
                        margin-top: 10px;
                    }
                }
                .list_main{
                    ul{
                        display: flex;
                        width: 100%;
                        overflow: hidden;
                        justify-content: center;
                        flex-wrap: wrap;
                        padding: 0;
                        margin: 0;
                        li{
                            border: 2px solid var(--primary-color);
                            border-radius: 2px;
                            margin: 8px 5px;
                            padding: 5px 14px;
                            @include media-breakpoint-down-sm {
                                margin: 6px 4px;
                                padding: 4px 12px;
                            }
                            a{
                                color:  var(--primary-color);
                                font-weight: 400;
                                font-size: 18px;
                                letter-spacing: 0;
                                text-align: center;
                                @include media-breakpoint-down-sm {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
                .contactbuttonmain{
                    text-align: center;
                    margin-top: 20px;
                    .ms-button{
                        border: 1px solid var( --primary-color);
                        font-size: 18px;
                        font-weight: 400;
                        color: var( --secondary-color);
                        letter-spacing: 0;
                        text-align: center;
                        line-height: 40px;
                        background: var( --primary-color);
                        padding: 6px 30px;
                        border-radius: 2px;
                        width: 100%;
                        max-width: fit-content;
                        margin:0 auto;
                        @include media-breakpoint-down-md {
                            font-size: 14px;
                            line-height: 24px;
                        }
                        @include media-breakpoint-down-sm {
                            font-size: 12px;
                            line-height: 20px;
                            padding: 5px 20px;
                        }
                    }
                }
            }
        }
    } 
}
