@import "../variable.scss";
.bannerimgmain{
    height: 100vh;
    overflow: hidden;
    position: relative;
    
    .header{
        min-height: 98px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0;
        background: transparent;
        position: relative;
        z-index: 11;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        @media (max-width: 1024px) {
            background: var(--primary-color);
        }
        .navbar{
            width: 100%;
            padding: 0;
        }
        .brandimg{
            width: 120px;
            height: 120px;
            overflow: hidden;
            opacity: 0;
            position: relative;
            @media (max-width: 1024px) {
                width: 98px;
                height: 98px;
              }
            @include media-breakpoint-down-md {
                width: 60px;
                height: 60px;
            }
            @media (max-width: 1024px) {
                opacity: 1;
              }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .headersocialiconmain{
            display: flex;
            justify-content: center;
            align-items: center;
            li{
                padding: 0 15px;
                @include media-breakpoint-down-md {
                    padding: 0 8px;
                }
                &.navicon{
                    display: none;
                    @media (max-width: 1024px) {
                        display: block;   
                    }
                }
                a{
                    color: var(--secondary-color) !important;
                    svg{
                            width: 32px;
                            height: 32px;
                        @include media-breakpoint-down-md {
                            width: 26px;
                            height: 26px;
                        }
                        @include media-breakpoint-down-sm {
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
            }
        }
        
    }
    .banner_img{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;    
        z-index: 1;
        height: 100%;
        @media (max-width: 1024px) {
            top: 98px;     
        }
        // @include media-breakpoint-down-md {
        //     top: 98px;  
        // }
        img{
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }
    .left_nav_main{
        position: absolute;
        z-index: 1002;
        left: 0;
        top: 0;
        transition-property: transform,opacity;
        transition-duration: 0.5s;
        transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 1;
        @media (max-width: 1024px) {
            display: none;          
        }
        .nav-main_i{
            // z-index: 111;
            // position: relative;
            position: fixed;
            height: 100%;
            background: #000;
            width: 100px;
            transition-property: width;
            transition-duration: 0.8s;
            transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
            &.open{
                width: 305px;
                .menu {
                    .menu__list{
                        right: 30px;
                        left: 30px;
                        li {
                            // border-bottom: 1px solid #2e2e2e;

                            a{
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
            }
            .btn-menu {
                position: absolute;
                left: 50%;
                top: 45px;
                margin-left: -20px;
                .btn-menu_i{
                    cursor: pointer;
                    width: 38px;
                    height: 37px;
                    position: relative;
                    z-index: 1000;
                    transition-property: border-color;
                    transition-duration: 0.5s;
                    transition-timing-function: ease;
                    .menuimg{
                        i{

                        }
                    }
                }
            }
            .menu {
                position: relative;
                padding: 135px 30px 0 30px;
                height: 100%;
                .menu__list {
                    max-width: 240px;
                    transition-property: transform,left,right,width;
                    transition-duration: 0.3s;
                    transition-timing-function: ease-out;
                    li {
                        list-style: none;
                        border-bottom: 1px solid #2e2e2e;
                        transition-property: transform;
                        transition-duration: 0.3s;
                        transition-timing-function: ease-out;
                    
                        a {
                            display: block;
                            font-size: 10px;
                            position: relative;
                            text-transform: uppercase;
                            color: #fff;
                            letter-spacing: 2px;
                            height: 53px;
                            line-height: 53px;
                            text-align: center;
                            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
                            opacity: 0;
                            visibility: hidden;
                            transition: color .3s ease-out,opacity .3s ease-out 0s,visibility .3s ease-out 0s,letter-spacing .3s ease-out;
                        }
                    }
                }
                >.menu__list {
                    position: absolute;
                    right: 20px;
                }
            }
        }
    }
    .bannerlogoimg{
        z-index: 1111;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        max-width: 120px;
        min-height: 120px;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        @include media-breakpoint-down-md {
            max-width: 90px;
            min-height: 90px;
        }
        img{
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    .bannercontent{
        z-index: 1111;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin: 30px auto 0;
        left: 0;
        right: 0;
        @include media-breakpoint-down-sm {
            margin: 0px auto;
        }   
        h1{
            font-weight: 400;
            font-size: 32px;
            text-align: center;
            color: var(--primary-color);
            letter-spacing: 0;
            text-align: center;
            margin-bottom: 30px;
            @include media-breakpoint-down-md {
                font-size: 28px;
                margin-bottom: 10px;
            }    
            @include media-breakpoint-down-sm {
                font-size: 24px;
                margin-bottom: 10px;
            }    
        }
    }

}