@import "../variable.scss";
.contactmain{
    background:  var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 0 118px;
    @include media-breakpoint-down-md {
        padding: 30px 0 30px;
    }
    .contactcontentmain{
        margin: 10px 0;
        .contacttitle{
            font-size: 48px;
            letter-spacing: 0;
            text-align: center;
            font-weight: 400;
            color: var( --secondary-color);
            @include media-breakpoint-down-md {    
                font-size: 30px;
            }
            @include media-breakpoint-down-sm {    
                font-size: 24px;
            }
        }
        .contactdescr{
            color: var( --secondary-color);
            font-size: 36px;
            font-weight: 400;
            letter-spacing: 0;
            text-align: center;
            margin: 20px 0px;
            @include media-breakpoint-down-md {
                font-size: 24px;
            }
            @include media-breakpoint-down-sm {    
                font-size: 18px;
            }
        }
    }
    .contactinputmain{
        margin-top: 60px;
        @include media-breakpoint-down-sm {    
            margin-top: 30px;
        }
        .contactinput{
            display: block;
            width: 100%;
            margin: 30px 0;
            input,textarea{
                border: none;
                border-bottom: 1px solid var( --secondary-color);
                width: 100%;
                text-align: left;    
                padding: 12px 0;
                font-size: 26px;
                font-weight: 400;
                color: var( --secondary-color);
                letter-spacing: 0;
                text-align: left;
                line-height: 40px;
                background: transparent;
                @include media-breakpoint-down-md {
                    font-size: 18px;
                    line-height: 24px;
                }
                &::placeholder{
                    font-size: 26px;
                    font-weight: 400;
                    color: var( --secondary-color);
                    letter-spacing: 0;
                    text-align: left;
                    line-height: 40px;
                    @include media-breakpoint-down-md {
                        font-size: 18px;
                        line-height: 24px;
                    }
                }
                
            }
        }
        .contactbuttonmain{
            text-align: center;
            margin-top: 80px;
            .ms-button{
                border: 1px solid var( --secondary-color);
                font-size: 24px;
                font-weight: 400;
                color: var( --secondary-color);
                letter-spacing: 0;
                text-align: center;
                line-height: 40px;
                background: transparent;
                padding: 8px 58px;
                border-radius: 2px;
                width: 100%;
                max-width: fit-content;
                margin:0 auto;
                @include media-breakpoint-down-md {
                    font-size: 18px;
                    line-height: 24px;
                   
                }
                &:hover{
                    background: var( --secondary-color);
                    color: var(--primary-color);
                }
            }
        }
    }
}