@import "../variable.scss";
.designmain{
    padding: 80px 0;
    background: var( --primary-color);
    @include media-breakpoint-down-md {
        padding: 10px 0;
        padding-bottom: 50px;
    }
    h1{
        font-weight: 400;
        font-size: 48px;
        color: var( --secondary-color);
        letter-spacing: 0;
        text-align: center;
        @include media-breakpoint-down-md {
            font-size: 30px;
            margin-top: 25px;
        }
        @include media-breakpoint-down-sm {
            font-size: 24px;
            margin-top: 15px;
        }
    }
   .design_slider_main{
       margin-top: 20px;
       margin-bottom: 30px;
       .design_slide{
        //    position: relative;
       }
       img{
           width: 100%;
           height: 300px;
           overflow: hidden;
           object-fit: cover;
       }
   }
   
}