@import "../variable.scss";
.footermain{
    background: var(--primary-color);
   
    display: flex;
    align-items: center;
    justify-content: center;
    .brandlogofooter{
        width: 110px;
        height: 110px;
        overflow: hidden;
        margin-top: 60px;
        position: relative;
        @include media-breakpoint-down-md {
            margin: 40px auto 0px;
            text-align: center;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .footercontentmain{
        padding: 60px 0;
        @include media-breakpoint-down-md {
            padding: 15px 0;
        }
        .footerlable{
            font-size: 22px;
            letter-spacing: 0;
            text-align: end;
            font-weight: 300;
            color: var( --secondary-color);
            position: relative;
            @include media-breakpoint-down-md {
                text-align: center;
                font-size: 20px;
            }
            span{
                width: 65px;
                position: absolute;
                top: 12px;
                right: 75px;
                border:0.5px solid var( --secondary-color);
                @include media-breakpoint-down-md {
                   display: none;
                }
            }
            // &:before{
            //     width: 65px;
            //     content: "";
            //     position: absolute;
            //     top: 12px;
            //     right: 80px;
            //     border:0.5px solid var( --secondary-color);
            // }
        }
        .footercontent{
            font-weight: 400;
            font-size: 20px;
            color: var( --secondary-color);
            letter-spacing: 0;
            text-align: end;
            @include media-breakpoint-down-lg {
                text-align: center;
                font-size: 15px;
                margin-top: 8px;
            }
            @include media-breakpoint-down-md {
                text-align: center;
                font-size: 18px;
                margin-top: 8px;
            }
        }
    }
    .bottomfooter{
        font-weight: 300;
        font-size: 16px;
        color: var( --secondary-color);
        letter-spacing: 0;
        text-align: center;
        margin: 30px 0;
        @include media-breakpoint-down-md {
            margin: 15px 0;
            font-size: 14px;
        }
    }
}