@import "../variable.scss";
.header{
    background: var(--primary-color);
    min-height: 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    @include media-breakpoint-down-sm {
        flex-wrap: nowrap;
    }
    .extramenu{
        position: relative;
    }
    .extramenu_main{
        padding:0 15px 15px 15px;
        background: var(--secondary-color) !important;
        position: absolute;
        right: 0;
        top: 128px;
        border: 2.5px solid #2e2e2e;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
        z-index: 1;
        @include media-breakpoint-down-md {
            top: 98px;
        }
        .menu__list {
            max-width: 240px;
            width: 100%;
            margin: 0 auto;
            padding: 0;
           
            li {
                list-style: none;
                border-bottom: 2px solid #2e2e2e;
                a {
                    display: block;
                    font-size: 12px;
                    position: relative;
                    text-transform: uppercase;
                    color: var(--primary-color);
                    letter-spacing: 2px;
                    height: 53px;
                    line-height: 53px;
                    font-weight: 400;
                    text-align: center;
                }
            }
        }
    }
    .navbar{
        width: 100%;
        padding: 0;
    }
    .brandimg{
        width: 120px;
        height: 120px;
        overflow: hidden;
        position: relative;
        @include media-breakpoint-down-md {
            width: 60px;
            height: 60px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .headersocialiconmain{
        display: flex;
        justify-content: center;
        align-items: center;
        @include media-breakpoint-down-sm {
            padding: 0;
        }
        li{
            padding: 0 15px;
            @include media-breakpoint-down-md {
                padding: 0 8px;
            }
            a{
                color: var(--secondary-color) !important;
                svg{
                        width: 32px;
                        height: 32px;
                    @include media-breakpoint-down-md {
                        width: 26px;
                        height: 26px;
                    }
                    @include media-breakpoint-down-sm {
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }
    }
    
}