@import "../variable.scss";
.howitworkmainsection{
    padding: 80px 0;
    background: var(--primary-color);
    @include media-breakpoint-down-md {
        padding: 30px 0;
        margin-bottom: 20px;
    }
    .howitworkcontentmain{
        border: 4px solid var(--secondary-color);
        padding: 60px 35px;
        @include media-breakpoint-down-md {
            padding: 30px 15px;
        }
    h1{
        font-weight: 400;
        font-size: 38px;
        color: var(--secondary-color);
        letter-spacing: 0;
        text-align: center;
        margin-bottom: 60px;
        @include media-breakpoint-down-md {
            font-size: 30px;
            margin-top: 25px;
        }
    }
    .subtitle{
        color:  var(--secondary-color);
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0;
        text-align: left;
        margin-top: 30px;
        @include media-breakpoint-down-md {
            font-size: 16px;
            margin-top: 15px;
        }
    }
}
    .howitworkcontentmain1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        @media (max-width: 1024px) {
            margin-top: 50px;
        }
        
    h1{
        font-weight: 300;
        color: var(--secondary-color);
        font-size: 38px;
        letter-spacing: 0;
        line-height: 38px;
        @include media-breakpoint-down-md {
            font-size: 32px;
            margin-top: 25px;
        }
        @include media-breakpoint-down-sm {
            font-size: 22px;
            margin-top: 10px;
        }
    }
    h2{
        font-weight: 300;
        color: var(--secondary-color);
        font-size: 38px;
        letter-spacing: 0;
        line-height: 38px;
        .secrettext{
            font-weight: 600;
            color: var(--secondary-color);
            font-size: 38px;
            letter-spacing: 0;
            line-height: 38px;
            margin-left: 10px;
            @include media-breakpoint-down-md {
                font-size: 32px;
                margin-top: 15px;
            }
            @include media-breakpoint-down-sm {
                font-size: 22px;
                margin-top: -10px;
            }
        }
        @include media-breakpoint-down-md {
            font-size: 32px;
            margin-top: 25px;
        }
        @include media-breakpoint-down-sm {
            font-size: 22px;
            margin-top: -15px;
        }
    }
    .howitworkbuttonmain{
        text-align: left;
        margin-top: 40px;
        @include media-breakpoint-down-md {
            margin-top: 25px;
        }
        .ms-button{
            border: 1px solid var( --secondary-color);
            font-size: 22px;
            font-weight: 400;
            color: var( --secondary-color);
            letter-spacing: 0;
            text-align: center;
            line-height: 40px;
            background: transparent;
            padding: 8px 58px;
            border-radius: 2px;
            width: 100%;
            max-width: fit-content;
            margin:0 auto;
            @include media-breakpoint-down-md {
                font-size: 16px;
                line-height: 24px;
            }
          
            &:hover{
                background: var( --secondary-color);
                color: var(--primary-color);
            }
        }
    }
}
  
 
  .listmain{
      margin-top: 50px;
      @include media-breakpoint-down-md {
        margin-top: 20px;
    }
      .projecttitle{
      font-weight: 400;
        font-size: 28px;
        color: var(--secondary-color);
        letter-spacing: 0;
        text-align: left;
        @include media-breakpoint-down-md {
            font-size: 22px;
        }
      }
      .projectdetail{
        color: var(--secondary-color);
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 0;
        margin-top: 10px;
        @include media-breakpoint-down-md {
            font-size: 16px;
        }
      }
  }
  .howitworktitle{
      h2{
        margin-top: 60px;
        color: var(--secondary-color);
        font-weight: 400;
        font-size: 48px;
        letter-spacing: 0;
        text-align: center;
        @include media-breakpoint-down-md {
            font-size: 28px;
            margin-top: 35px;
            text-align: left;
        }
    }
  }
}