@import "../variable.scss";
.ms-news-letter-main-section{
    background: var( --secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
    @include media-breakpoint-down-md {
        padding: 15px 0;
    }
    .ms-news-letter-content-main{
        margin: 10px 0;
        .ms-news-letter-title{
            font-size: 48px;
            letter-spacing: 0;
            text-align: center;
            font-weight: 400;
            color: var(--primary-color);
            @include media-breakpoint-down-md {    
                font-size: 30px;
            }
            @include media-breakpoint-down-sm {    
                font-size: 24px;
            }
        }
        .ms-news-letter-desc{
            color: var(--primary-color);
            font-size: 36px;
            font-weight: 400;
            letter-spacing: 0;
            text-align: center;
            margin: 20px 0px;
            @include media-breakpoint-down-md {
                font-size: 24px;
            }
            @include media-breakpoint-down-sm {    
                font-size: 18px;
            }
        }
    }
    .ms-news-letter-input-group-wrapper{
        display: flex;
        margin-top: 60px;
        @include media-breakpoint-down-sm {    
            margin-top: 30px;
        }
        .ms-news-letter-input{
            display: block;
            width: 100%;
            
            input{
                border: none;
                border-bottom: 1px solid var(--primary-color);
                width: 100%;
                max-width: calc(100% - 20px);
                margin-right:auto;
                text-align: left;
                display: flex;
                justify-content: flex-start;
                padding: 12px 0;
                font-size: 26px;
                font-weight: 400;
                color: var(--primary-color);
                letter-spacing: 0;
                text-align: left;
                line-height: 40px;
                @include media-breakpoint-down-md {
                    font-size: 18px;
                    line-height: 24px;
                }
                &::placeholder{
                    font-size: 26px;
                    font-weight: 400;
                    color: var(--primary-color);
                    letter-spacing: 0;
                    text-align: left;
                    line-height: 40px;
                    @include media-breakpoint-down-md {
                        font-size: 18px;
                        line-height: 24px;
                    }
                    @include media-breakpoint-down-sm {
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
                
            }
        }
        .ms-news-letter-button-wrapper{
            display: flex;
            align-items: center;
            .ms-button{
                border: 1px solid var( --primary-color);
                font-size: 18px;
                font-weight: 400;
                color: var( --secondary-color);
                letter-spacing: 0;
                text-align: center;
                line-height: 40px;
                background: var( --primary-color);
                padding: 6px 30px;
                border-radius: 2px;
                width: 100%;
                max-width: fit-content;
                margin:0 auto -8px;
                @include media-breakpoint-down-md {
                    font-size: 14px;
                    line-height: 24px;
                }
                @include media-breakpoint-down-sm {
                    font-size: 12px;
                    line-height: 20px;
                    padding: 5px 20px;
                }
            }
        }
    }
}