@import "../variable.scss";
.secratecontentmainsection{
    padding: 80px 0;
    @include media-breakpoint-down-md {
        padding: 10px 0;
        margin-bottom: 20px;
    }
    h1{
        font-weight: 400;
        font-size: 42px;
        color: var( --primary-color);
        letter-spacing: 0;
        text-align: left;
        span{
            display: flex;
            @include media-breakpoint-down-md {
                display: initial;
            }
        }
        @include media-breakpoint-down-md {
            font-size: 28px;
            margin-top: 25px;
        }
    }
    .subtitle{
        margin-top: 20px;
        font-weight: 600;
        font-size: 36px;
        color: var( --primary-color);
        line-height: normal;
        text-align: left;
        margin-bottom: 20px;
        letter-spacing: 0;
        @include media-breakpoint-down-md {
            font-size: 24px;
            margin-top: 10px;
        }
    }
   
   
    .project_description{
        font-weight: 400;
        font-size: 28px;
        color: var(--project-title-color);
        letter-spacing: 0;
        @include media-breakpoint-down-md {
            font-size: 20px;
            margin-bottom: 30px;
        }
    }
  .secretimgmain{
      overflow: hidden;
      height: 100%;
      position: relative;
      img{
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
  }
  .listmain{
      margin-top: 50px;
      @include media-breakpoint-down-md {
        margin-top: 20px;
    }
      .projecttitle{
      font-weight: 400;
        font-size: 28px;
        color: var(--project-title-color);
        letter-spacing: 0;
        text-align: left;
        @include media-breakpoint-down-md {
            font-size: 22px;
        }
      }
      .projectdetail{
        color: var(--project-title-color);
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 0;
        margin-top: 10px;
        @include media-breakpoint-down-md {
            font-size: 16px;
        }
      }
  }
}