@import "../variable.scss";
.projectlistmain{
    padding: 80px 0;
    @include media-breakpoint-down-md {
        padding: 10px 0;
    }
    h1{
        font-weight: 400;
        font-size: 48px;
        color: var( --primary-color);
        letter-spacing: 0;
        text-align: center;
        @include media-breakpoint-down-md {
            font-size: 30px;
            margin-top: 25px;
        }
        @include media-breakpoint-down-sm {
            font-size: 24px;
            margin-top: 15px;
        }
    }
    .subtitle{
        margin-top: 20px;
        font-weight: 300;
        font-size: 38px;
        color: var( --primary-color);
        letter-spacing: 0;
        text-align: center;
        margin-bottom: 50px;
        @include media-breakpoint-down-md {
            font-size: 22px;
            margin-top: 15px;
            margin-bottom: 30px;
        }
    }
    .listmain{
        cursor: pointer;
    .listimagemain{
        overflow: hidden;
        height: 415px;
        position: relative;	
            &:hover {
                .inner-block:before,
                .slider-top-right:after {
                    height: 100%;
                }
                .inner-block:after,
                .slider-top-right:before {
                    width: 100%;
                }
            }
            img {
                display: block;
                max-width: 100%;
            }
        
        
        .block-content {
            position: absolute;
            bottom: 10%;
            left: 10%;
           
        }
        
        .slider-top-right:before,
        .inner-block:after {
            height: 4px;
            transition: width 1.25s ease-in-out;
            width: 0%;
        }
        
        .slider-top-right:after,
        .inner-block:before {
            height: 0%;
            transition: height 1.25s ease-in-out;
            width: 4px;
        }
        
        .inner-block:before,
        .inner-block:after,
        .slider-top-right:before,
        .slider-top-right:after {
            background-color: #000;
            content: '';
            display: block;
            position: absolute;
        }
        
        .inner-block {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            &:before {
                bottom: 0;
                left: 0;
            }
            &:after {
                bottom: 0;
                right: 0;
            }
        }
        
        .slider-top-right {
            position: relative;
            width: 100%;
            height: 100%;
            &:before {
                top: 0;
                left: 0;
            }
            &:after {
                top: 0;
                right: 0;
            }
        }
        @include media-breakpoint-down-lg {
            height: 340px;
        }
        @include media-breakpoint-down-md {
            height: 300px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .projectname{
        font-weight: 400;
        font-size: 20px;
        color: var(--project-title-color);
        letter-spacing: 0;
        text-align: center;
        margin: 26px 0 50px;
        
        @include media-breakpoint-down-md {
            margin: 18px 0 30px;
            font-size: 16px;
        }
    }
}
    .loadmorebuttonmain{
        text-align: center;
        margin-top: 10px;
        .ms-button{
            border: 1px solid var( --primary-color);
            font-size: 24px;
            font-weight: 400;
            color:  var( --primary-color);
            letter-spacing: 0;
            text-align: center;
            line-height: 40px;
            background: transparent;
            padding: 8px 50px;
            border-radius: 2px;
            width: 100%;
            max-width: fit-content;
            margin:0 auto;
            @include media-breakpoint-down-md {
                font-size: 18px;
                line-height: 24px;
            }
            &:hover{
                background: var(--primary-color);
                color:  var( --secondary-color);
            }
        }
    }
}