@import "../variable.scss";
.reviewsmain{
    padding: 80px 0;
    background: var(--secondary-color);
    @include media-breakpoint-down-md {
        padding: 10px 0;
        margin-bottom: 30px;
    }
    h1{
        font-weight: 400;
        font-size: 48px;
        color: var(--primary-color);
        letter-spacing: 0;
        text-align: center;
        @include media-breakpoint-down-md {
            font-size: 30px;
            margin-top: 25px;
        }
        @include media-breakpoint-down-sm {
            font-size: 24px;
            margin-top: 15px;
        }
    }
   .reviews_slider_main{
       margin-top: 20px;
       margin-bottom: 30px;
       
       .reviews_slider_content{
         
           .reviewimagemain{
               width: 255px;
               height: 255px;
               overflow: hidden;
               border: 2px solid var(--primary-color);
               padding: 10px;
               position: relative;
               @include media-breakpoint-down-lg {
                    width: 200px;
                    height: 200px;
                }
                img{
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    object-fit: cover;
                }
           }
           .reviewscontentmain{
            margin-top: 20px;
               .reviewusername{
                font-weight: 600;
                font-size: 22px;
                color: var(--primary-color);
                letter-spacing: 0;
                margin-top: 8px;
               }
               .reviewtime{
                font-weight: 400;
                font-size: 12px;
                color: var(--primary-color);
                letter-spacing: 0;
                margin-top: 5px;
               }
               .reviewstarrating{
                margin-top: 2px;
                   svg{
                        width: 10px;
                        height: 10px;
                   }
                   
               }
               .reviewdescription{
                margin-top: 10px;
                font-weight: 400;
                font-size: 14px;
                color: var(--primary-color);
                letter-spacing: 0;
               }
           }
       }
   }
   
}