:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --project-title-color: #3C3C3C;
  --secondary-light-color: #ff01c4;
  --bg-white: #ffffff;
  --bg-black: #000000;
  --color-white: #ffffff;
  --color-black: #000000;
  // alert
  --alertSuccessColor: #155724;
  --alertSuccessBg: #d4edda;
  --alertSuccessBorder: #c3e6cb;
  --alertErrorColor: #721c24;
  --alertErrorBg: #f8d7da;
  --alertErrorBorder: #f5c6cb;
  --redColor: #ff0000;
  --textTitleColor: #5d5b5f;

  --textColor: #737588;
}

// Color varible

$primaryColor: var(--primary-color);


//responsive grids
@mixin media-breakpoint-down-xss {
  @media (max-width: 320px) {
    @content;
  }
}

@mixin media-breakpoint-down-xs {
  @media (max-width: 375px) {
    @content;
  }
}

@mixin media-breakpoint-down-sm {
  @media (max-width: 575px) {
    @content;
  }
}

@mixin media-breakpoint-down-md {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin media-breakpoint-down-lg {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin media-breakpoint-down-xl {
  @media (max-width: 1400px) {
    @content;
  }
}

@mixin media-breakpoint-down-xxl {
  @media (max-width: 1500px) {
    @content;
  }
}

@mixin imgCover {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

@mixin transition {
  transition: all 0.3s ease-in-out;
}

@mixin box-shadow {
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
  background-color: $bg-block;
}
